#content {
	-moz-column-count: 3; 
	-moz-column-gap: 1em; 
	-moz-column-rule: 1px solid black; 
	-webkit-column-count: 3; 
	-webkit-column-gap: 1em; 
	-webkit-column-rule: 1px solid black;
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height:90% !important; /* Important Regel für moderne Browser */ 
	height:90%; /* Mindesthöhe für den IE */ 
	/*-webkit-animation: fontbulger 2s ;*/

}

#content:hover
{
animation-timing-function:linear;
-moz-animation-timing-function:linear; /* Firefox */
-webkit-animation-timing-function:linear; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-play-state: paused;
	animation:moveContent 100s;
	-moz-animation:moveContent 100s; /* Firefox */
	-webkit-animation:moveContent 100s; /* Safari and Chrome */
}
#content:active {
animation-timing-function:linear;
-moz-animation-timing-function:linear; /* Firefox */
-webkit-animation-timing-function:linear; /* Safari and Chrome */
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-play-state: running;
	animation:moveContent 100s;
	-moz-animation:moveContent 100s; /* Firefox */
	-webkit-animation:moveContent 100s; /* Safari and Chrome */
}

@-webkit-keyframes moveContent {
	from {
		transform: translate(0px,0px);
		-ms-transform: translate(0px,0px);
		-webkit-transform: translate(0px,0px);
		-o-transform: translate(0px,0px);
		-moz-transform: translate(0px,0px);
		}
	to {
		transform: translate(-50000px,0px);
		-ms-transform: translate(-50000px,0px);
		-webkit-transform: translate(-50000px,0px);
		-o-transform: translate(-50000px,0px);
		-moz-transform: translate(-50000px,0px);
		}
}	


@-moz-keyframes moveContent /* Firefox */
{
0%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
25%  	{ 	-moz-transform:scale(1.2);
			-webkit-transform:scale(1.2);
		}
75%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
}	

@keyframes moveContent {
0%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
25%  	{ 	-moz-transform:scale(1.2);
			-webkit-transform:scale(1.2);
		}
75%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
}	


html, body { 
	background-color: #caf;
	margin: 0;
	padding: 0;
	height: 90%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 90% */
	
}


#firstdiv {
	position:absolute;
	left:166.6%;
	width:1px;
	background-color:yellow;
}

@-webkit-keyframes fontbulger {
	0% {
		font-size: 10px;
	}
	30% {
		font-size: 15px;
	}
	100% {
		font-size: 12px;
	}
}


#lala {
	width:100%;
}
#lala td {
	width:50%;	
}
footer {
	position:fixed;
	width:100%;
}
#buttonsstyle {
	width:100%;
	height:80px;
	/*vielleicht mit calc versuchen*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffa200;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 3px solid #ffbf00;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
}

#buttonsstyle:hover
{
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-play-state: paused;
	animation:moveContent 5s;
	-moz-animation:moveContent 5s; /* Firefox */
	-webkit-animation:moveContent 5s; /* Safari and Chrome */
}
#buttonsstyle:active {
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-play-state: running;
	animation:moveContent 5s;
	-moz-animation:moveContent 5s; /* Firefox */
	-webkit-animation:moveContent 5s; /* Safari and Chrome */
}
@-webkit-keyframes mymove {
0%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
25%  	{ 	-moz-transform:scale(1.2);
			-webkit-transform:scale(1.2);
		}
75%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
}	


@-moz-keyframes mymove /* Firefox */
{
0%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
25%  	{ 	-moz-transform:scale(1.2);
			-webkit-transform:scale(1.2);
		}
75%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
}	

@keyframes mymove {
0%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
25%  	{ 	-moz-transform:scale(1.2);
			-webkit-transform:scale(1.2);
		}
75%  	{ 	-moz-transform:scale(0.9);
			-webkit-transform:scale(0.9);
		}
}	
